<p>
  You've been invited to manage <%= entity.name %>.
</p>
<p>
  <a href="<%= Applyance::Server.settings.client_url %>/reviewers/claim?code=<%= claim_digest %>">Click here to claim your account.</a>
</p>
