<p>
  Welcome to Applyance. We're on a mission to replace long application forms with a simple, delightful experience. We hope you enjoy applying with us.
</p>
<p>
  One of the ways we make applications simple is by reusing answers for multiple applications.
</p>
<p>
  To utilize our common application service for future applications, use the following password to login when applying: <strong><%= temp_password %></strong>
</p>
