<p>We've recently updated your email address, per your request.</p>

<p>
  <a href="<%= Applyance::Server.settings.client_url %>/accounts/verify?code=<%= verify_digest %>">
    Click here to verify your email address.
  </a>
</p>
