<p>
  We have received a request to reset your password.
</p>
<p>
  <a href="<%= Applyance::Server.settings.client_url %>/accounts/passwords/set?code=<%= reset_digest %>">Please click here to create a new password.</a>
</p>
<p>
  If you have received this in error, please ignore it.
</p>
