<p>
  You have received a new application from <strong><%= citizen.account.name %></strong>.
</p>
<p>
  <a href="<%= Applyance::Server.settings.client_url %>/applicants/<%= citizen.id %>">Click here to view their application.</a>
</p>
