<p>
  Your premium subscription has expired, which means that application management will be locked.
</p>
<p>
  Upgrade now if you want to renew service for you and your team.
</p>
<p>
  <a href="<%= Applyance::Server.settings.client_url %>/entities/<%= entity_customer.entity_id %>/billing">Add payment info</a>
</p>
