<p>
  Your premium trial expires in 3 days! Unless you decide to upgrade your account, application management will be locked.
</p>
<p>
  Upgrade now if you want to avoid getting locked out and interrupting service for you and your team.
</p>
<p>
  <a href="<%= Applyance::Server.settings.client_url %>/entities/<%= reviewer.entity_id %>/billing">Add payment info</a>
</p>
