<p>
  Welcome to Applyance. We're on a mission to replace long, grueling applications with a delightful experience. We hope you enjoy what you use.
</p>
<p>
  We have automatically subscribed you to our premium plan for 30 days as a free trial. At any time, you may choose to enter your billing information to continue your subscription. Otherwise, you'll be downgraded to the free plan.
</p>
<% if temp_password %>
<p>
  You can use the following password to login to your reviewer dashboard in the future: <strong><%= temp_password %></strong>
</p>
<% end %>
<p style="text-align: center;margin: 36px 0;">
  <a href="<%= Applyance::Server.settings.client_url %>/accounts/verify?code=<%= verify_digest %>" style="color: white;display: inline-block;background-color: #f2bc36;border-radius: 3px;padding: 12px 36px;font-size: 17px;letter-spacing: 0;font-weight: bold;text-decoration: none;">
    Verify Account and Access Your Reviewer Dashboard
  </a>
</p>
