<p>
  Welcome to Applyance. We're on an ambitious mission to replace grueling applications with a delightful experience. We hope you greatly enjoy what you see and use. If you have any feedback, please let us know.
</p>
